/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.slider-wrapper{ position:relative;}
.slider-main{position:relative;}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:50%;
	z-index:9;
	cursor:pointer;
}
a.nivo-prevNav {
	left:0px;
	background-position:30px 0 !important;
	border-radius:0 3px 3px 0;
}
a.nivo-nextNav {
	right:0px;
	background-position:-30px 0 !important;
	border-radius:3px 0 0 3px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	padding: 15px 0;
	position: absolute;
    text-align: center;
    width: 100%;
	bottom:0%;
	z-index:9;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a {
    border: 0 none;
    display: inline-block;
	background-color:#fff;
    height: 11px;
    margin: 0 4px;
    text-indent: -9999px;
    width: 11px;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	-o-border-radius:15px;
}
.nivo-controlNav a.active {
	font-weight:bold;
    background-position: 0 -21px;
	background-color:#e75300;
}

.nivo-directionNav a {
    border: 0 none;
    display: block;
    height: 30px; 
    text-indent: -9999px;
    transition: all 200ms ease-in-out 0s;
    width: 60px;
	background:url(../images/slide-nav.png) no-repeat left top;
}


/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0;	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	color:#fff;
	z-index:8;
	padding:25px 0;
	overflow: hidden;
	display: none;	
	width:100%; 
	top:28%;
	text-align:center;
}
.slide_info h2{font:40px 'Piedra', sans-serif; color:#fff; margin:0 0 10px 0;}
.slide_info p{ font:300 14px/20px 'Roboto', sans-serif; width:80%; text-align:center; margin: 0 auto 28px;}
.slide_info h2 a{color:#ffffff; }