/* Mobile Portrait View */
@media screen and (max-width:767px) {
*{box-sizing:border-box;}
.left, .right, .copyright-txt, .design-by{ float:none;}
.container { width:auto; padding:0 20px;}
.wrap_one, .signin_wrap{width:auto; text-align:center;}
.header { width:100%; padding:0;}
.header .header-inner{ width:100%; padding:15px 0 0;}
.header .header-inner .logo{ float:none; text-align:center; margin:0; padding:0;}
.header .header-inner .logo img{ max-width:100%; height:auto;}
.services-wrap .one_fourth{ float:none; width:100%; margin:0 0 5%;}
#sidebar{ width:100%; float:none; margin-top:20px;}
.fblock4{float:none; display:block; width:95%; margin:10px auto 0;}
.no_margin_right{margin-right: auto !important;}
.content-area{ width:auto; margin:0; padding:50px 20px;}
.site-main{ width:auto; margin:0; padding:0; float:none;}
#slider{ top:0; margin:0;}
.nivo-directionNav a{ top:39% !important;}
.slide_info p{display:none !important;} 
.slide_info h2{ font-size:13px !important; margin-top:-10px;}
.slide_info .slidebtn{display:none;}
.copyright-wrapper{ text-align:center;}
.cols-4{ width:100% !important; display:block; margin-right:0; margin-bottom:15%;}
h2.section_title{ text-align:center;}
.signin_wrap{ text-align: center; line-height:25px; padding:10px 0;}
.signin_wrap .fa{ display:inline; }
.services-wrap{ text-align:center;}
.signin_wrap .right, .signin_wrap .left{ text-align:center;}
.signin_wrap .social-icons{ width:auto;}
.signin_wrap .left span{ float:none;}
.BlogPosts{ float:none; width:auto; margin:0 0 10% 0;}
.blog_lists .sktmore{float:left; text-align:left;}
#home_slider{min-height:100px;}
}

/* Mobile Landscape View */
@media screen and (min-width: 480px) and (max-width: 767px){
.slide_info{ padding:0;}
.slide_info h2{ font-size:20px !important; padding:0 !important; margin-bottom:10px !important; line-height:30px; text-shadow:1px 0 0 #333;}
.slide_info p{ padding:5px 0 !important;  font-size:13px !important; display:none;}
}

/* Tablet View */
@media screen and (max-width:1169px) and (min-width:768px) { 
*{box-sizing:border-box;}
.signin_wrap .social-icons a{ box-sizing:content-box; padding:0 4px;}
.container { width:auto; padding:0 20px;}
.signin_wrap{width:auto;}
.header .header-inner{ width:auto; padding:15px 0 0;}
.header .header-inner .logo{ margin:0; padding:0; float:none; text-align:center;}
.slide_info h2{ font-size:24px !important; padding:0 !important; margin-bottom:10px !important; line-height:30px; text-shadow:1px 0 0 #333;}
.slide_info p{ padding:5px 0 !important;  font-size:13px !important; text-shadow:1px 0 0 #333; }
.content-area{ width:auto; margin:0; padding:50px 20px;}
.nivo-caption{top:5% !important;}
#sidebar{ width:30%;}
.site-main{ width:65%;}
.right span.phno{ padding-right:0;}
.signin_wrap .social-icons a{ padding:0 2px;}
.services-wrap .one_fourth{ width:23.5%; margin-right:2%;}
.services-wrap .one_fourth .fa{ float:none;}
.services-wrap .one_fourth h3{ font-size:14px;}
.recent-post h6{ padding-top:7px;}
.blog_lists img{ width:100%;}
.services-wrap .one_fourth{}
#home_slider{min-height:250px;}
.fblock4{width:45.35%; margin: 0 0 2.5% 3%;}
.BlogPosts{width:45.6%; margin-left:10px;}
}

@media screen and (max-width:1169px) and (min-width:980px) { 
html{overflow-x:hidden;}
.header .header-inner .logo{ float:left; text-align:right; margin:16px 0;}
.header .header-inner{ padding:0 20px;}
}

@media screen and (max-width: 980px){
.toggleMenu{display: block;}
.header .header-inner .nav{float:none; margin:0; position:relative; overflow-x:hidden; background-color:#fff; }
.header .header-inner .nav ul{color:#000; width:100% !important; float:none !important; margin:0; padding:0;}
.header .header-inner .nav ul li{border-top:1px #cccccc solid; display:block; float:none; text-align:left;}
.header .header-inner .nav ul li a{padding:5px 10px !important; display:block; color:#000;}
.header .header-inner .nav ul li a:hover{color:#ffffff;}
.header .header-inner .nav ul li ul, .header .header-inner .nav ul li ul ul{ display:block !important;}
.header .header-inner .nav ul li ul li a:before{content:"\00BB \00a0"; padding-right:5px;}
.header .header-inner .nav ul li ul li a{padding-left:20px !important; }
.header .header-inner .nav ul li ul li ul li a{padding-left:30px !important;}
.header .header-inner .nav ul li ul li ul li ul li a{padding-left:40px !important;}
.header .header-inner .nav ul li:hover > ul{ background:none !important;}

.header .header-inner .nav ul li:hover > ul{ background: transparent !important; width:auto !important; display:block; position: relative !important; left:0; right:0; top:0;}
.header .header-inner .nav ul li:hover ul li ul, .header .header-inner .nav ul li:hover ul li:hover > ul, .header .header-inner .nav ul li:hover ul li:hover > ul li ul{  background: transparent !important; display:block; position:relative !important;  right:0; left:0; top:0;}
.header .header-inner .nav ul li:hover ul li:hover ul, .header .header-inner .nav ul li:hover ul li:hover ul li:hover ul{ left:0 !important;}
.header .header-inner .nav ul li a .fa, .fixed .header-inner .nav ul li a .fa{ display:none;}
}