/*
Theme Name: Complete Lite
Theme URI: https://www.sktthemes.net/shop/free-premium-wordpress-theme/
Author: SKT Themes
Author URI: https://www.sktthemes.net
Description: Complete Lite is a complete theme in every way and can be used for any business, commercial, corporate, personal, photography and eCommerce use. It is simple, adaptable as well as flexible and has been built using WordPress codex standards. It is fully translatable and compatible with numerous plugins like contact form 7 and WooCommerce, Nextgen Gallery etc. Demo: http://sktthemesdemo.net/complete/

Version: 1.5
License: GNU General Public License
License URI: license.txt
Text Domain: complete-lite

Tags:blog,two-columns,right-sidebar,custom-header,featured-images,theme-options,threaded-comments,translation-ready

Complete Lite WordPress Theme has been created by SKT Themes(sktthemes.net), 2016.
Complete Lite WordPress Theme is released under the terms of GNU GPL

Complete Lite is based on underscores theme.
*/
body{ margin:0; padding:0;line-height:19px; font-size:14px; color:#2b2b2b; font-family:'Lato', sans-serif;  background-color:#f2f2f2;}
*{ margin:0; padding:0; outline:none;}
img{ border:none; margin:0; padding:0; height:auto}
.wp-caption, .wp-caption-text, .sticky, .gallery-caption, .aligncenter{ margin:0; padding:0;}
p{ margin:0; padding:0;}
a{ text-decoration:none; color:#34c6f6;}
a:hover{ color:#a0ce4e;}
ol,ul{ margin:0; padding:0;}
ul li ul, ul li ul li ul, ol li ol, ol li ol li ol{ margin-left:10px;}
h1,h2,h3,h4,h5,h6{ color:#484f5e; font-family:'Lato'; margin:0 0 20px; padding:0; line-height:1.1; font-weight:400; }
h1{ font-size:36px;}
h2{ font-size:18px;}
h3{ font-size:17px;}
h4{ font-size:16px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
.clear{ clear:both;}
.alignnone{max-width:100%;}
img.alignleft, .alignleft{ float:left; margin:0 15px 0 0; padding:5px;}
img.alignright, .alignright{ float:right; margin:0 0 0 15px; padding:5px;}
.left{ float:left;}
.right{ float:right;}
.nav-links{padding-top:40px;}
.pagination{display:table; clear:both;}
.pagination ul{list-style:none; margin:20px 0;}
.pagination ul li{display:inline; float:left; margin-right:5px;}
.pagination ul li span, .pagination ul li a{background:#646262; color:#fff; padding:5px 10px; display:inline-block;}
.pagination ul li .current, .pagination ul li a:hover{background:#34c6f6;}

#comment-nav-above .nav-previous, #comment-nav-below .nav-previous{ float:none !important; margin:10px 0;}
ol.comment-list li{ list-style:none; margin-bottom:5px;}

.header .header-inner .logo{float:left; margin:14px 0;}
.header .header-inner{ margin:0 auto; padding:0; position:relative; width:1180px;}
.header .header-inner .logo h1{font-weight:700; font-size:30px; margin:0px; line-height:36px; text-transform:uppercase; color:#ff7800; font-family:Arial, Helvetica, sans-serif;}
.header .header-inner .logo h1 span{color:#383939;}
.header span.tagline{ font-size:13px;}
.header .header-inner .logo a{ color:#000;}
.container{ width:1170px; margin:0 auto; position:relative;}
.phntp{text-align:left; margin-left:-15px;}

/*header menu css*/
.toggle{display: block;}
.toggle a{width:100%; color:#ffffff; background:url(images/mobile_nav_right.png) no-repeat right center #3e3e3e; padding:10px 10px; margin-top:5px; font-size:16px;}
.toggle a:hover{color:#ffffff !important;}
.nav{display:none;}
.header{width:100%; height:0px; z-index:999999; border-bottom:1px solid #e1e1e1;}
.header .header-inner .nav{ padding:0; text-align:right; float:right;}
.header .header-inner .nav ul { float:right; margin:0; padding:0; font-family:'Lato', sans-serif; font-weight:400; font-size:14px;}
.header .header-inner .nav ul li{display:table-cell; margin:0; position:relative; text-align:center;}
.header .header-inner .nav ul li a{padding:34px 20px; display:block; color:#000000; }
.header .header-inner .nav ul li ul li{display:block; position:relative; float:none; top:-1px;}
.header .header-inner .nav ul li ul li a{display:block; padding-top:10px; padding-bottom:10px; position:relative; top:1px; text-align:left;}
.header .header-inner .nav ul li a:hover, .header .header-inner .nav .current-menu-parent > a, .header .header-inner .nav .current_page_item > a, .header .header-inner .nav .current-menu-item > a{background-color:#383939; color:#ffffff !important;}

.header .header-inner .nav ul li ul{display:none; z-index:9999999; position:relative;}
.header .header-inner .nav ul li:hover > ul{display:block; width:200px; position:absolute; left:0; text-align:left; background-color:#fff;}
.header .header-inner .nav ul li:hover ul li ul{display:none; position:relative;}
.header .header-inner .nav ul li:hover ul li:hover > ul{display:block; position:absolute; left:200px; top:1px;}

.header .header-inner .nav ul li a .fa, .fixed .header-inner .nav ul li a .fa{ font-size:35px; display:block; margin-bottom:10px;}
.fixed .header-inner .nav ul li a span, .header .header-inner .nav ul li a span{display:block; font-size:11px; font-style:italic;}
/*.header .header-inner .nav ul li:last-child a{ padding-right:0;}*/

/* = header top sign in  css
-------------------------------------------------------------- */
.signin_wrap{ background-color:#383939; color:#fff; font:14px/33px 'Lato',san-serif;}
.signin_wrap .social-icons a{ border-right:1px solid #e8e8e8; margin-right:0;}
.signin_wrap .fa{ margin:0 5px 0 15px;}
.signin_wrap .right{text-align:right;}
.signin_wrap a{color:#fff; margin-left:10px;}
.signin_wrap a:hover{color:#edecec !important;}
section#home_slider{ padding:0;}
/*#FrontBlogPost{ margin-top:-60px;}*/
#FrontBlogPost, #wrapsecond{ padding:50px 0;}
#home_slider{background: #ffffff url("images/loading.gif") no-repeat scroll center center; min-height: 400px; position: relative; }
/* = Featurd section css
-------------------------------------------------------------- */
.services-wrap h2, #FrontBlogPost h1, .sectionrow h2{font-family: "Lato"; font-weight:700; font-size:25px; color:#000; text-align:center; text-transform:uppercase; letter-spacing:1px; padding-bottom:20px;}
.services-wrap .one_fourth{border:1px solid #f1f1f1; background-color:#fff; text-align:center; padding:30px 15px; width:20%; margin:0 2.75% 0 0; cursor:pointer; float:left;}
.services-wrap .one_fourth .fa{ font-size:50px; border-bottom:2px solid #383939; padding-bottom:20px;}
.services-wrap .one_fourth img{border-bottom:2px solid #383939; padding-bottom:20px; height:auto; max-width:65px;}
.services-wrap .one_fourth h3{font:600 18px/22px 'Lato',san-serif;  padding:20px 0; margin:0; text-transform:uppercase;}
.services-wrap .one_fourth p{color:#5d5c5c;}
.services-wrap .one_fourth .ReadMore{ margin-top:20px; display: inline-block; border:1px solid #5d5c5c; padding:5px 10px;}
.services-wrap .one_fourth:hover .ReadMore{ color:#e75300; border-color: #e75300;}
.services-wrap .one_fourth:hover h3{color:#e75300; }
.services-wrap .one_fourth:hover .fa{color:#e75300; border-color:#e75300; }
.services-wrap .one_fourth a{ color:#5d5c5c;}
.last_column{clear:right; margin-right:0 !important; }
.sectionrow{margin-left: -15px; margin-right: -15px;}
.featured_block{background-color: #ffffff; vertical-align:top;}
.no_margin_right{margin-right: 0 !important;}
.fblock1{width: 94.5%; text-align: center; float: left; margin: 0 3% 2.5% 0; padding: 2.6% 2%}
.fblock2{width: 44%; text-align: center; float: left; margin: 0 3% 2.5% 0; padding: 2.6% 2%}
.fblock3{width: 26.7%; min-height: 300px; text-align: center; float: left; margin: 0 3% 2.5% 0; padding: 2.6% 2%}
.fblock4{width: 18.35%; min-height: 100px; text-align: center; float: left; margin: 0 3% 2.5% 0; padding: 2.6% 2%}
.fblock1 .sktmore, .fblock2 .sktmore, .fblock3 .sktmore, .fblock4 .sktmore, .servicebox .sktmore, .back .sktmore{margin: 0 auto}
.featured_block p{margin: 0 0 25px; line-height: 19px}
.featured_block .ftrthumb{ margin: 0 auto; width:70px; height:70px; overflow:hidden;  border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; -webkit-border-radius: 100%}
.featured_block .ftrthumb img{ width:100%; height:auto; min-height:70px;}
.featured_block h3{margin: 15px 0; text-align: center; text-transform: uppercase; font-family: "Lato"; font-weight:700; font-size:15px;}
.featured_block h3 a:hover{color:#a0ce4e;}
.sktmore{background-color: #383939; color: #fff; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; margin: 0; padding: 7px 14px; display: table}
.sktmore:hover{background-color: #a0ce4e;}
.sktmore:link, .sktmore:visited, .sktmore a{color: #FFF; word-break: break-all}

/* = social icons css
-------------------------------------------------------------- */
.social-icons a{ background-color:#545556; width:30px; height:30px; line-height:30px; border-radius:50%; text-align:center;  vertical-align:middle; display:inline-block; transition:0.6s; -moz-transition:0.6s; -webkit-transition:0.6s; -o-transition:0.6s; font-size:16px;  color:#fff; margin:0 3px; padding:0; }
.social-icons br{ display:none;}
.social-icons a:hover{ background-color:#e75300;}

/* = Page lay out css
-------------------------------------------------------------- */
.site-main{ width:760px; margin:0; padding:0; float:left;}
#sitefull{ width:100%; float:none;}
#sitefull p{ margin-bottom:15px;}


.blog_lists{ margin-bottom:30px; overflow:hidden;}
.blog_lists .sktmore{margin:10px auto 0; text-align:center;}
.blog_lists h2{ margin-bottom:10px;}
.blog_lists h2 a{ color:#000000;}
.blog_lists h2 a:hover{ color:#a0ce4e;}
.blog_lists p{ margin-bottom:10px;}
.blog-meta{ font-style:italic; margin-bottom:8px;}
.post-date, .post-comment, .post-categories{ display:inline; color:#000000;} 
.single_title{ margin-bottom:5px;}
.BlogPosts{width:22.7%; float:left; margin:0 3% 3% 0; text-align:center; overflow:hidden;}
.BlogPosts .MoreLink{ display: table; text-align:center; margin:15px auto 0;}
.BlogPosts img{width: auto; padding: 0 0 15px !important;}
.BlogPosts h2{ margin:15px 0; text-align:left; text-transform:uppercase; font-weight:700; color:#000;}
.MoreLink{ color:#5d5c5c ;display: inline-block; border:1px solid #5d5c5c; padding:5px 10px;}
.MoreLink:hover{ color:#e75300; border-color: #e75300;}

/* = sidebar
-------------------------------------------------------------- */
#sidebar {
	width: 360px;
	float: right;
}
.widget-title{text-transform:uppercase;}
#sidebar .widgets ul {
	margin: 0;
	padding: 0
}
#sidebar .widget {
	background: #ffffff;
	margin-bottom: 30px;
	list-style-type: none;
	width: 100%;
	float: left;
	color: #999;
	position: relative;
	box-sizing: border-box;
	border: 1px solid #eeeff5;
}
#sidebar .widget .widgettitle, #sidebar .widget .widgettitle a {
	font-size: 16px;
	margin-bottom: 10px
}
#sidebar .widget li {
	list-style-type: none;
	margin: 20px 0
}
#sidebar .widget_wrap {
	width: 100%;
	padding: 20px 10%;
	box-sizing: border-box
}
.untitled .widget_wrap {
	padding: 10%!important
}
#sidebar .widget .widgettitle {
	margin-top: 0
}
#sidebar .widget img {
	max-width: 100%
}
#sidebar .widget select {
	max-width: 100%;
	width: 100%;
	height: 26px
}
.widget_calendar table {
	width: 100%
}
.widget_calendar table tr td {
	text-align: center
}
#prev {
	text-align: left
}
#next {
	text-align: left
}
span.widget_border {
	width: 35px;
	height: 2px;
	display: block;
	margin-bottom: 20px;
	background: #a0ce4e none repeat scroll 0 0;
}
.search_term {
	width: 96%;
	padding: 2%;
	float: left;
	margin-top: 50px;
	text-align: center
}
.search_term h2 {
	margin-bottom: 5px
}
.search_term #searchform #s, .error_msg #searchform #s {
	font-size: 16px;
	border: none;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
	box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.1) inset;
	width: 70%;
	padding: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	background: rgba(0,0,0,0.04);
	color: #999
}
.search_term #searchsubmit, .error_msg #searchsubmit {
	padding: 20px 15px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out
}
.search_term #searchsubmit:hover, .error_msg #searchsubmit:hover {
	opacity: .7
}
.fourofour a {
	font-size: 280px;
	opacity: .4
}
.error404 .postitle {
	margin-top: -30px;
	font-size: 50px;
	text-transform: uppercase;
	opacity: .5
}
.error_page {
	text-align: center
}
.error_msg {
	line-height: 2em
}
.widget a {
	color: #a0ce4e;
	margin-right:5px;
	word-wrap:break-word;
}
.widget a:hover {
	color: #999999 !important;
}

.widget table{width:100%;}
#wp-calendar tr th, #wp-calendar tr td{text-align:center;}
#prev a{text-align:left; float:left;}
#next a{text-align:right; float:right;}

input[type=search]{
    border: 1px solid #eeeff5;
    color: #505358;
    height: 26px;
    padding-left: 5px;
    width: 70%;
}
.search-submit{background-color: #a0ce4e;
    color: #fff;
    margin: 0;
    padding: 4px 9px; border:none;}
/* = Footer css
-------------------------------------------------------------- */
#footer-wrapper{ position:relative; color:#fff; clear:both;}
.footer{ background-color:#363839; padding:45px 0 25px; }
.cols-4{width:32%; float:left; margin:0 2% 2% 0; }
.widget-column-1 { width:29%;}
.widget-column-2 { width:32%;}
.widget-column-3 { width:20%;}
.widget-column-4 { margin-right:0px !important;}
.cols-4 h5{ font-weight:700; font-size:15px; font-family:'Lato', sans-serif; color:#fff; margin-bottom:15px; text-transform:uppercase;}
.cols-4 ul{ margin:0; padding:0; list-style:inside disc;}
.cols-4 ul li { display:block; padding:0;}
.cols-4 ul li a { color:#fff; font:normal 12px/24px Arial, Helvetica, sans-serif; background:url(images/list-arrow.png) no-repeat 0 2px; padding:0 0 0 20px;}
.cols-4 ul li a:hover, .cols-4 ul li.current_page_item a { background-position:left -13px; color:#dd5145; transition: all 0.5s ease 0s; }

.cols-4 a.readmore span{ color:#fff;}
.cols-4 p{ margin-bottom:15px;}
.cols-4 h1, .cols-4 h2, .cols-4 h3, .cols-4 h4, .cols-4 h5, .cols-4 h6{color:#fff;}
.phone-no{ margin:10px 0 20px; line-height:22px;}
.phone-no a{color:#a0ce4e;}
.phone-no a:hover{color:#d6d6d6;}
.phone-no strong { display:inline-block;}
.cols-4 .phone-no p{ margin-bottom:0;}

.copyright-wrapper { background-color:#282a2b; position:relative; padding:15px 0;}
.copyright-txt { float:left;}
.design-by{float:right;}
.design-by a{color:#a0ce4e !important;}
.recent-post{margin:0 0 20px 0;}
.recent-post img{ float:left; width:40px; margin:3px 10px 5px 0;}
.recent-post h6{ font-size:15px; color:#fff; margin:0 0 5px; font-weight:600;}
.recent-post h6:hover{color:#a0ce4e;}
.recent-post:last-child{ border-bottom:none; margin-bottom:0; padding-bottom:0;}

/* Buttons */
.button, .btnfeatures{ background-color:#ff6565; border-bottom:4px solid #e44545; color:#fff; padding:8px 20px; display:inline-block; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; -ms-border-radius:2px; }
.button:hover{background-color:#34c6f6; border-color:#1898c2; color:#fff;}
.btnfeatures{ background-color:transparent;  border:1px solid #fff; padding:8px 20px; margin-right:20px;}
.btnfeatures:hover{ border-color:#ff6565;}

/* woocommerce CSS
================================================*/
a.added_to_cart{background:#e1472f; padding:5px; display:inline-block; color:#fff; line-height:1;}
a.added_to_cart:hover{background:#000000;}
a.button.added:before{content:'' !important;}
#bbpress-forums ul li{padding:0;}
#subscription-toggle a.subscription-toggle{padding:5px 10px; display:inline-block; color:#e1472f; margin-top:4px;}
textarea.wp-editor-area{border:1px #ccc solid;}
.woocommerce input[type=text], .woocommerce textarea{border:1px #ccc solid; padding:4px;}
form.woocommerce-ordering select{ padding:5px; color:#777777;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'Roboto',san-serif; color:#ff7800;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
h1.product_title, p.price{ margin-bottom:10px;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'Roboto',san-serif; color:#ff7800;}
.woocommerce ul.products li, #payment ul.payment_methods li{ list-style:none !important;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
.woocommerce table.shop_table th, .woocommerce table.shop_table td{ border-bottom:0px !important}

/* Text meant only for screen readers. */
.screen-reader-text {clip: rect(1px, 1px, 1px, 1px);position: absolute !important;	height: 1px;width: 1px;	overflow: hidden;}
.screen-reader-text:focus {	background-color: #f1f1f1;	border-radius: 3px;	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);	clip: auto !important;	color: #21759b;	display: block;
	font-size: 14px;font-size: 0.875rem;font-weight: bold;	height: auto;left: 5px;	line-height: normal;padding: 15px 23px 14px;text-decoration: none;	top: 5px;	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
/* ============= Contact Page =========== */
.wpcf7{ margin:30px 0 0; padding:0;}
.wpcf7 input[type="text"], .wpcf7 input[type="tel"], .wpcf7 input[type="email"]{ width:40%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:35px; padding:0 15px; color:#797979; margin-bottom:0;}
.wpcf7 textarea{width:60%; border:1px solid #cccccc; box-shadow:inset 1px 1px 2px #ccc; height:150px; color:#797979; margin-bottom:25px; font:12px arial; padding:10px; padding-right:0;}
.wpcf7 input[type="submit"]{background-color:#0ec7ab; width:auto; border:none; cursor:pointer; text-transform:uppercase; font:18px 'Roboto',san-serif; color:#ffffff; padding:10px 40px; border-radius:3px;}	

/* ============= Comment Form ============ */
h1.screen-reader-text{font:22px 'Roboto',san-serif;}
.site-nav-previous, .nav-previous{ float:left;}
.site-nav-next, .nav-next{ float:right;}
h3#reply-title{font:300 18px 'Roboto',san-serif;}
#comments{ margin:30px 0 0; padding:0;}
nav#nav-below{ margin-top:15px;}
.page-numbers{display: inline-block; padding: 5px 10px; margin: 0 2px 0 0; border: 1px solid #eee; line-height: 1; text-decoration: none; border-radius: 2px; font-weight: 600; background-color:#ccc;}
.page-numbers.current, a.page-numbers:hover{background: #a0ce4e; color:#FFF !important;}

.slidebtn{display: table; margin: 0 auto; word-wrap: break-word; font-family: "Lato"; font-size: 14px;}
.slidebtn a{background-color: #000000; color: #ffffff; border-radius: 4px; padding: 10px 14px;}
.slidebtn a:hover{background-color: #a0ce4e;}

.nav-next a:hover, .nav-previous a:hover{color:#a0ce4e;}
.attachment-post-thumbnail{float: left; padding-right: 15px;}
.post-thumb img{height: auto; margin-bottom: 20px; overflow: hidden; width: 200px;}
.homepost{}
.thumbbox{height:175px; overflow:hidden;}
.homepost .blog-meta, .homepost p{text-align:left;}
.homepost .sktmore{float:left; text-align:left;}

/* ============= Others ============ */
body.wp-custom-logo .logo h1{display:none;}
.custom-logo{width:210px; height:25px;}

.wp-caption{margin-bottom: 1.75em; max-width: 100%;}
.wp-caption-text{font-style:italic;}